 
      <div class="modal-dialog" style="color:black">
      

        <div class="modal-content">
          <div class="modal-header">
           
            <h4 class="modal-title">{{scheduleDiscription.title}}</h4>
          </div>
          <div class="modal-body">
            <p >Start Date: {{scheduleDiscription.start}}</p>
            <p>End Date: {{scheduleDiscription.end}}</p>
            <p>{{scheduleDiscription['summary']}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="hideSchedule()">Close</button>
          </div>
        </div>
    </div>
      