 
      <div class="modal-dialog">
      

        <div class="modal-content">
          <div class="modal-header">
           
            <h4 class="modal-title">{{scheduleDiscription.schedule.title}}</h4>
          </div>
          <div class="modal-body">
            <p>Start Date: {{scheduleDiscription.schedule.start._date}}</p>
            <p>End Date: {{scheduleDiscription.schedule.end._date}}</p>
            <p>Discription: {{scheduleDiscription.discription}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="hideSchedule()">Close</button>
          </div>
        </div>
        
      </div>
      
      <p>Schedule Works</p>